@model List<TbBlog>
@using TimTro.Utilities
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Blog List</h2>
                    <div class="breadcrumb-option">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Blog Default</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section Begin -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string url = $"/blogs/blog_{item.Idblog}.html";
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="@Images.ConvertToBase64Src(item.Image, item.ImageType)" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i>@item.IduserNavigation.Name</li>
                                <li><i class="fa fa-clock-o"></i>@item.Time.Value.ToString("dd/MM/yyyy")</li>
                            </ul>
                            <h4><a href="@url">@item.Title</a></h4>

                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-12">
                <div class="loadmore">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-1.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-2.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-3.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-4.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-5.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->
