@model TbUser
@{

}

<!-- Property Section Begin -->
<section class="property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="property-sidebar">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="/@Model.Avatar"
                                     alt="User profile picture" style="border-radius: 50%">
                            </div>

                            <h3 class="profile-username text-center">Nina Mcintire</h3>

                            <p class="text-muted text-center">Software Engineer</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Số lượng trọ</b> <a class="float-right">@Model.TbHostels.Count()</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">@Model.TbHostels.Count()</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="float-right">13,287</a>
                                </li>
                            </ul>

                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="best-agents">
                        <h4>Best Agents</h4>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="/assets/img/properties/best-agent-1.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Lester Bradley</h5>
                                <span>Company Agents</span>
                                <p class="property-items">6 property </p>
                            </div>
                        </a>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="assets/img/properties/best-agent-2.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Janie Blair</h5>
                                <span>Company Agents</span>
                                <p class="property-items">6 property </p>
                            </div>
                        </a>
                        <a href="#" class="ba-item">
                            <div class="ba-pic">
                                <img src="assets/img/properties/best-agent-3.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Sophia Cole</h5>
                                <span>Marketing & Ceo</span>
                                <p class="property-items">6 property </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h4 class="property-title">Property</h4>
                <div class="property-list">
                    @foreach (var item in Model.TbHostels)
                    {
                        <div class="single-property-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="property-pic">
                                        <img src="/@item.Image" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="property-text">
                                        @if (item.IsAvailable)
                                        {
                                            <div class="s-text">Còn phòng</div>
                                        }
                                        else
                                        {
                                            <div class="f-text">Hết phòng</div>
                                        }
                                        <h5 class="r-title">@item.Title</h5>
                                        <div class="room-price">
                                            <span>Giá thuê:</span>
                                            <h5>@item.Price VNĐ/Tháng</h5>
                                        </div>
                                        <div class="properties-location">
                                            <i class="icon_pin"></i> @item.Ward, @item.District, @item.Province

                                        </div>
                                        @if (item.IsPrivate)
                                        {
                                            <div class="properties-location">
                                                <i class="fa fa-tag"></i> Khép kín

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="properties-location">
                                                <i class="fa fa-tag"></i> Không khép kín

                                            </div>
                                        }

                                        <ul class="room-features">
                                            <li>
                                                <i class="fa fa-arrows"></i>
                                                <p>@item.Area m²</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-motorcycle"></i>
                                                @if (item.IsHasParkingLot)
                                                {
                                                    <p>Có chỗ để xe</p>
                                                }
                                                else
                                                {
                                                    <p>Không có chỗ để xe</p>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="property-pagination">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <a href="/Hostel/Index?page=@i" class="@(ViewBag.page == i ? "active" : "")">@i</a>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Property Section End -->
<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-1.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-2.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-3.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-4.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="assets/img/partner/partner-5.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->
