@model List<TbHostel>
@using TimTro.Utilities;
@{
    ViewBag.Title = "Azenta - quảng bá và tìm trọ trực tuyến";
    ViewBag.Active = "trangchu";

    List<TbBlog> blogs = ViewBag.blogs;
    List<TbUser> users = ViewBag.users;

    var provinces = ViewBag.Provinces as string;
}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-1.jpg">

        </div>
        <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-2.jpg">

        </div>
        <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-3.jpg">

        </div>
    </div>
    <div class="thumbnail-pic">
        <div class="thumbs owl-carousel">
            <div class="item">
                <img src="/assets/img/hero/dot-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/hero/dot-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="/assets/img/hero/dot-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Search Form Section Begin -->
<div class="search-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-form-text">
                    <div class="search-text">
                        <i class="fa fa-search"></i>
                        Find Your Home
                    </div>
                    <div class="home-text">
                        <i class="fa fa-home"></i>
                        House For Sell
                    </div>
                </div>
                <form asp-action="index" asp-controller="Hostel" class="filter-form" method="post">
                    <div class="first-row">
                        <select id="province" name="province">
                            <option value="">Chọn tỉnh/thành phố</option>
                        </select>

                        <select id="district" name="district">
                            <option value="">Chọn quận/huyện</option>
                        </select>

                        <select id="ward" name="ward">
                            <option value="">Chọn phường/xã</option>
                        </select>

                        <select name="IsPrivate">
                            <option value="0">Khép kín/không</option>
                            <option value="1">Khép kín</option>
                            <option value="2">Không khép kín</option>
                        </select>
                    </div>
                    <div class="second-row">
                        <select name="IsHasParkingLot">
                            <option value="0">Có/không chỗ để xe</option>
                            <option value="1">Có chỗ để xe</option>
                            <option value="2">Không có chỗ để xe</option>
                        </select>
                        <div class="price-range-wrap">
                            <div class="price-text">
                                <label for="priceRange">Giá:</label>
                                <input type="text" id="priceRange" name="priceRange" style="width:200px" readonly>
                            </div>
                            <div id="price-range" class="slider"></div>
                        </div>
                        <div class="room-size-range">
                            <div class="price-text">
                                <label for="roomsizeRange">Diện tích:</label>
                                <input type="text" id="roomsizeRange" name="areaRange" style="width:165px" readonly>
                            </div>
                            <div id="roomsize-range" class="slider"></div>
                        </div>
                        <button type="submit" class="search-btn">Tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search Form Section End -->
<!-- How It Works Section Begin -->
<section class="howit-works spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Find Your Dream House</span>
                    <h2>How It Work</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-howit-works">
                    <img src="/assets/img/howit-works/howit-works-1.png" alt="">
                    <h4>Search & Find Apertment</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-howit-works">
                    <img src="/assets/img/howit-works/howit-works-2.png" alt="">
                    <h4>Find Your Room</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-howit-works">
                    <img src="/assets/img/howit-works/howit-works-3.png" alt="">
                    <h4>Talk To Agent</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How It Works Section End -->
<!-- Feature Section Begin -->
<section class="feature-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Listing From Our Agents</span>
                    <h2>Featured Properties</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-carousel owl-carousel">
                @foreach (var item in Model)
                {
                    string URL = $"Hostel/{item.Idhostel}.html";
                    <div class="col-lg-4">
                        <div class="feature-item">
                            <div class="fi-pic set-bg" data-setbg="@Images.ConvertToBase64Src(item.Image, item.ImageType)">
                                <div class="pic-tag">
                                    @if (!item.IsAvailable)
                                    {
                                        <div class="f-text">Hết phòng</div>
                                    }
                                    else
                                    {
                                        <div class="s-text">Còn phòng</div>
                                    }

                                </div>
                                <div class="feature-author">
                                    <div class="fa-pic">
                                        <img src="@Images.ConvertToBase64Src(item.IduserNavigation.Avatar, item.IduserNavigation.AvatarType)" alt="">
                                    </div>
                                    <div class="fa-text">
                                        <span>@item.IduserNavigation.Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fi-text">
                                <div class="inside-text">
                                    <h4><a style="color: black" href="@URL">@item.Title</a></h4>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i>@item.Ward, @await Functions.GetNameByType("d" ,item.District), @await Functions.GetNameByType("p", item.Province)</li>
                                        @if (item.IsPrivate)
                                        {
                                            <li><i class="fa fa-tag"></i>Khép kín</li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-tag"></i>Không khép kín</li>
                                        }
                                    </ul>
                                    <h5 class="price">@item.Price<span>/tháng</span></h5>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>@item.Area m²</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-motorcycle"></i>
                                        @if (item.IsHasParkingLot)
                                        {
                                            <p>Có chỗ để xe</p>
                                        }
                                        else
                                        {
                                            <p>Không có chỗ để xe</p>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->
<!-- Video Section Begin -->
<div class="video-section set-bg" data-setbg="/assets/img/video-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-text">
                    <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    <h4>Find The Perfect</h4>
                    <h2>Real Estate Agent Near You</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Section End -->
<!-- Top Properties Section Begin -->
<div class="top-properties-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="properties-title">
                    <div class="section-title">
                        <span>Những phòng trọ được đánh giá cao nhất</span>
                        <h2>Trọ nổi bật</h2>
                    </div>
                    <a href="/hostel" class="top-property-all">Xem tất cả phòng trọ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="top-properties-carousel owl-carousel">
            @foreach(var item in Model.OrderByDescending(i=>i.TbReviews.Where(i=>i.Star == 5).Count()).Take(5))
            {<div class="single-top-properties">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="stp-pic">
                            <img src="@Images.ConvertToBase64Src(item.Image,item.ImageType)" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="stp-text">
                            <div class="@(item.IsAvailable ? "s-text" : "f-text")">@(item.IsAvailable ? "Còn phòng" : "Hết phòng")</div>
                            <h2>@item.Title</h2>
                            <div class="room-price">
                                <span>Giá: </span>
                                <h4>@item.Price VNĐ</h4>
                            </div>
                                <div class="properties-location"><i class="icon_pin"></i>@item.Ward, @await Functions.GetNameByType("d", item.District), @await Functions.GetNameByType("p", item.Province)</div>
                            <p>@item.Description</p>
                            <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>@item.Area m²</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-motorcycle"></i>
                                        @if (item.IsHasParkingLot)
                                        {
                                            <p>Có chỗ để xe</p>
                                        }
                                        else
                                        {
                                            <p>Không có chỗ để xe</p>
                                        }
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>}
        </div>
    </div>
</div>
<!-- Top Properties Section End -->
<!-- Agent Section Begin -->
<section class="agent-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>We Are To Help You</span>
                    <h2>Our Agents</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="agent-carousel owl-carousel">
                @foreach (var item in users)
                {
                    string URL = $"/user/{item.Iduser}.html";
                    <div class="col-lg-3">
                        <div class="single-agent">
                            <div class="sa-pic">
                                <img src="@Images.ConvertToBase64Src(@item.Avatar, item.AvatarType)" alt="">
                                <div class="hover-social">
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <a href="@URL"><h5>@item.Name</h5></a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- Agent Section End -->
<!-- Latest Blog Section Begin -->
<section class="blog-section latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Blog & Events</span>
                    <h2>News Latest</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in blogs)
            {
                string URL = $"/blogs/blog_{item.Idblog}.html";
                <div class="col-lg-4">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="@Images.ConvertToBase64Src(item.Image, item.ImageType)" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> @item.IduserNavigation.Name</li>
                                <li><i class="fa fa-clock-o"></i> @item.Time.Value.ToString("dd/MM/yyyy hh:mm")</li>
                            </ul>
                            <h4><a href="@URL">@item.Title</a></h4>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/assets/img/partner/partner-1.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/assets/img/partner/partner-2.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/assets/img/partner/partner-3.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/assets/img/partner/partner-4.png" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img src="/assets/img/partner/partner-5.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>

